

.entirePage {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.item-0 {
    grid-column-start:1;
    grid-column-end:1; 
    grid-row-start:1;
    grid-row-end:1;
    justify-self: center;
    align-self: center;
}
.item-1 {
    grid-column-start:1;
    grid-column-end:1; 
    grid-row-start:2;
    grid-row-end:2;
    
}

.item-2 {
    grid-column-start:2;
    grid-column-end:2; 
    grid-row-start:2;
    grid-row-end:2;
}

.item-3 {
    grid-column-start:2;
    grid-column-end:2; 
    grid-row-start:1;
    grid-row-end:1;
}

#title {
    font-size:50px;
}

.keyboard {
    display:grid;
    margin:5px;
    padding: 15px;
    border: solid 5px rgba(0, 0, 255, 0.315) ;
    background-color: rgba(0, 0, 255, 0.055);
    gap: 10px;
    height: 200px;
    width: 600px;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    grid-template-rows: repeat(3, 2fr) ;
    
}

#firstRow {
    display:flex;
    justify-content: center;
    gap:10px;
}

#secondRow {
    display:flex;
    justify-content: center;
    gap:10px;
}

#thirdRow {
    display:flex;
    justify-content: center;
    gap:10px;
}

#button {
    background-color: rgba(0, 0, 255, 0.397);

    border-radius: 30%;
    width: 45px;
    height: 40px;
    font-weight: bold;
    font-size:25px;
}

#button:hover {
    background-color:rgba(172, 172, 255, 0.377);
}

#button:active {
    background-color:rgb(74, 74, 209);
}

#guessedLetters {
    margin:20px;
    font-size:30px;
    font-family: 'Times New Roman', Times, serif;
}

#buttonAfterClickRight {
    background-color: rgba(78, 235, 125, 0.747);
    color:black;
    opacity: 0.5;
    border-radius: 30%;
    width: 45px;
    height: 40px;
    font-weight: bold;
    font-size:25px;
}

#buttonAfterClickWrong {
    background-color: rgba(255, 91, 91, 0.397);
    color:black;
    opacity: 0.5;
    border-radius: 30%;
    width: 45px;
    height: 40px;
    font-weight: bold;
    font-size:25px;
}

#underlinedLetter {
    text-decoration: underline;
}
